.principal-section {
    display: grid;
    padding: 5rem 2rem;
    gap: 5rem;
}

.display-flex {
    display: grid;
}

.explanation h2 {
   margin-top: 2rem;
}


@media (min-width: 600px) {

    .explanation{
        text-align: center;
        display: grid;
        align-items: center;
        max-height: 90%;
        gap: 3rem;
    }
       
    .display-flex {
      grid-template-columns: repeat(2, 1fr);
      padding: 3rem;
      gap: 5rem;
      align-items: center;
      max-height: 90vh;
    }

    .image img{
        min-width: 40vw;
        max-width: 40vw;
        min-height: 50vh;
        max-height: 50vh;
        border-radius: 3%;
    }

    .explanation > p {
        font-size: 2rem;
        text-align: justify;
    }

    .img-full-width {
        min-height: 80vh;
    }
 
}