body {
    margin: 0;
    padding:0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

hr {
    min-height: 0.12rem;
    background: var(--blue-1);
    width: 50vw;
    margin: -2rem auto;
}

.iam-rita {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
}

.img-about {
   padding: 3rem;
}

.know-about-me-img {
    margin: 3rem 0 0 0;
}

.about-text {
    padding: 0 3rem;
    text-align: center;
    text-align: justify;
}

.h4-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--blue-2);
}

.about-the-girl {
    display: grid;
    margin: 10vh 0 0 0;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 1.5rem;
    text-align: justify;
    padding: 0 3rem;
}

.more-details {
    margin: 5vh 0 0 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: -5rem;
    padding: 0 3rem;
    text-align: justify;
}

    .get-to-know-me {
    margin: 5vh 0 0 0;
}
/* .full-width-section-2 {
margin-bottom: 7rem;
} */

@media screen and (min-width: 600px) {

    .iam-rita {
        grid-template-columns: repeat(2, 1fr);
        font-size: 2rem;
        align-items: center;
        margin: 25vh 0 25vh 0;
    }

    .h4-title {
        font-size: 2rem;
    }

    .h2-title {
        /* margin-bottom: 2rem; */
        font-size: 4rem;
    }

    .about-the-girl {
        grid-template-columns: repeat(4, 1fr);
        /* gap: 6rem; */
        font-size: 2rem;
        max-height: 90vh;
        align-items: center;
        margin: 0 auto;
    }

    .titles {
        grid-column: span 4;
    }

    .div-one, .div-two {
        min-width: 40vw;
        text-align: justify;
        min-height: 100%;
        display: grid;
        justify-content: center;
        grid-column: span 2;
    }

    .div-one div, .div-two div {
        margin: 1rem 0;
    }

/* ============================================ */

    .more-details {
        margin: 25vh 0 0 0;
        grid-template-columns: repeat(6, 1fr);
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;
        gap: 5%;
    }
    .know-about-me-img{
        order: 1;
        grid-column: span 5;
        min-height: 80vh;
    }
    .know-about-me-img img{
     min-height: 100%;
    }
    .get-to-know-me {
        font-size: 2rem;
        grid-column: span 1;
        text-align: center;
    }

    .img-full-width {
        min-height: 80vh;
    }

}